.cate {
  width: 100%;
  height: 200px;
  overflow: hidden;
  position: relative;
  margin: 10px 0;
}
.cate img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.cate .cate-body {
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: rgba(117, 114, 114, 0.528);
  backdrop-filter: blur(5px);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: end;
  align-items: end;
  flex-direction: column;
  transition: 0.5s;
}
.cate:hover .cate-body {
  right: 0;
}
.cate-title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 500;
}
.category .top {
  font-family: "Times New Roman", Times, serif;
  color: #b99b6b;
  font-size: 40px;
  /* margin-left: 50px; */
}
.category hr {
  margin: 0 0 20px 0;
  width: 200px;
  color: black;
}
@media screen and (max-width: 992px) {
  .cate-title {
    font-size: 25px;
  }
}