#home .navbar {
  background-color: #aa5656;
}
#home .navbar-brand {
  font-weight: 700;
  /* font-family: "Dancing Script", cursive; */
  font-family: "Lobster", cursive;
  font-size: 40px;
  padding: 0 0 0 30px;
  margin: 0;
  color: #f1dbbf;
}
#home .me-auto {
  margin: auto;
}

#home .nav-link {
  color: #f1dbbf;
  font-size: 20px;
  /* font-family: "Times New Roman", Times, serif; */
}

#home .nav-link:hover {
  color: black;
  /* font-family: "Times New Roman", Times, serif; */
}

/* home page */
.home-page .alert {
  background-color: #f1dbbf5c;
  color: #5f4040;
  margin-bottom: 0px;
  text-align: center;
}

.home-page .alert-heading {
  margin-left: auto;
}
.home-page .bottom{
  height: 500px;
  border: 20px solid black;
}
.home-page img{
  height: 460px ;
}
@media screen and (max-width: 992px) {
  #home .navbar-brand {
    font-size: 45px;
  }
}
